.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.App-header {
  background-color: white;
  height: 50px;
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.App-game {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.App-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 20px;
}


.Header-footer {
  color: darkgrey;
}
