.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 50px;
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.Header-footer {
  color: darkgrey;
}

.wrapper {
  background-color: green;
  flex-direction: column;
  flex-wrap: nowrap;
}